- content_for :title do
  = title('Message')
- content_for :scripts do
  = include_javascript 'plugins/aes'
  = include_javascript 'fields'
  = include_javascript 'message_form'

.panel.panel-default.message-panel
  .panel-heading
    %h2 Message
  .panel-body
    = hidden :message, :encrypted_body, value: @message.body
    = hidden :message, :password, value: params[:message][:password]
    = textarea :message, :body, '', class: 'form-control', readonly: true, rows: 7
  .panel-footer
    - if @message.reviewing?
      = reviews_info(@message.destroy_value)
    - else
      = expiring_info(@message.created_at, @message.destroy_value)