%html
  %head
    %meta{'http-equiv' => 'Content-Type', content: 'text/html; charset=utf-8'}
    %title= yield_content :title
    = set_favicon 'favicon'
    = include_stylesheet 'application'
    = yield_content :styles
  %body
    .navbar.navbar-default.header
      .container
        = link_to '/' do
          = image '/images/favicon.png'
          %h1.inline Carrier Piggeon

    .container.content
      = partial 'layout/flash'
      = yield

    .navbar.navbar-default.navbar-fixed-bottom.row-fluid.footer
      .navbar-inner
        .container
          %p Alex Orlov &copy; 2016

    = include_javascript 'plugins/jquery-3.1.1.min'
    = include_javascript 'plugins/bootstrap.min'
    = include_javascript 'plugins/jquery.bootstrap-touchspin'
    = yield_content :scripts
